@using TicTacToeUI.Models;
@model  TTTGameStateModel

<style>
    .cell {
        width: 33%;
        height: 250px;
    }
</style>

<div style="margin: 25px;">
    <table style="width : 100%; text-align : center; font-size: 72px;">
        <tbody>
            <tr>
                <td class="cell" id="0" style="border-right : solid 2px; border-bottom : solid 2px">@(Model.Grid[0] ?? "")</td>
                <td class="cell" id="1" style="border-bottom : solid 2px">@(Model.Grid[1] ?? "")</td>
                <td class="cell" id="2" style="border-left : solid 2px; border-bottom : solid 2px">@(Model.Grid[2] ?? "")</td>
            </tr>
            <tr>
                <td class="cell" id="3" style="border-right : solid 2px;">@(Model.Grid[3] ?? "")</td>
                <td class="cell" id="4">@(Model.Grid[4] ?? "")</td>
                <td class="cell" id="5" style="border-left : solid 2px;">@(Model.Grid[5] ?? "")</td>
            </tr>
            <tr>
                <td class="cell" id="6" style="border-right : solid 2px; border-top : solid 2px">@(Model.Grid[6] ?? "")</td>
                <td class="cell" id="7" style="border-top : solid 2px">@(Model.Grid[7] ?? "")</td>
                <td class="cell" id="8" style="border-left : solid 2px; border-top : solid 2px">@(Model.Grid[8] ?? "")</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).on('click', '.cell', function (e) {
            alert('ID is ' + e.currentTarget.id);
            var newWindow = window.open('');

            $.ajax({
                url: 'http://localhost:54897/api/Game/Update?gameId=@(Model.GameId)',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    "Authorization": "Bearer " + localStorage.accessToken
                },
                data: JSON.stringify(e.currentTarget.id)
            }).done(function (data) {
                newWindow.location.href = 'gameplay/tttgameplay?gameID=' + @(Model.GameId) + '&json=' + data.outputGameState;
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error: ' + errorThrown);
            });
        });
    </script>
}